
<div *ngIf="this.User.logged">
  <h1>Register Form</h1>
  <p>*Fill all the fields*</p>
    <form [formGroup]="registerForm" (ngSubmit)="newStudent()">

      <div style="background-color: royalblue;"
      *ngIf="(Name.invalid && (Name.dirty || Name.touched)) || 
              (Email.invalid && (Email.dirty || Email.touched)) || 
              (Title.invalid && (Title.dirty || Title.touched))"
      class="alert">
        <div *ngIf="Name.errors?.required || Email.errors?.required || Title.errors?.required" style="color: red;">
          All the fields are required!
        </div>
      </div>
      <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" class="form-control" id="reg-name" formControlName="Name" placeholder="Enter Name">
      </div>

      <div class="form-group">
          <div *ngIf="Email.errors?.pattern" style="color: red;">
            Email is not valid!
          </div>
          <label for="email">Email</label>
          <input type="email" class="form-control" id="reg-email" formControlName="Email" placeholder="Enter email">
      </div>

      <div class="form-group">
          <label for="title">Title</label>
          <textarea type="text" rows="3" class="form-control" id="reg-title" formControlName="Title" placeholder="Enter Project's Title"></textarea>
      </div><br>

      <button type="submit" class="btn btn-primary"
      [disabled]="registerForm.invalid">Add Student</button>
      <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
    </form>
  </div>
  <div *ngIf="!this.User.logged" style="text-align: center;">
    <h1>You have to login if you want to see this Component!</h1>
    <button routerLink="/" class="btn btn-primary">Home Page</button>
  </div>