
.log-dash{
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 0px 0px 30px grey;
    padding: 5px;
    width: 25%;
    max-width: 500px;
    margin: auto;
    box-sizing: border-box;
}
form{
    box-sizing:content-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
input{
    text-align: center;
}