<div style="text-align: end; margin: 20px;">
  <button class="btn btn-secondary" (click)="back()">Back</button>
</div>
  <br>
  <div class="log-dash" *ngIf="!this.userService.User.logged">
    <form>
      <br>
      <img src="assets/angularicon.png" alt="logo">
      <br>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" [(ngModel)]="Loguser.user" id="email" placeholder="User" name="user">
        <label for="email">User</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" [(ngModel)]="Loguser.password" id="password" placeholder="Password" name="password">
        <label for="password">Password</label>
      </div><br>
      <button type="submit" class="btn btn-primary" (click)="login()">Log in</button>
    </form>
  </div>
<div style="text-align: center;" *ngIf="this.userService.User.logged">
  <h1>Welcome {{this.userService.User.user}}</h1>
  <button class="btn btn-secondary" (click)="logout()">Log out</button>
</div>