<div class="studentList">
  <ul class="dashboard" *ngIf="this.connectionService.User.logged">
    <li><button routerLink="/register" class="btn btn-primary">Register</button></li>
  </ul>
  <div class="md-form">
    <input type="search" [(ngModel)]="searchText" placeholder="Search text">
  </div>
  <ul class="list-group">
    <li *ngFor="let student of students | filter: searchText">
      <a  routerLink="/student/{{student.id}}" class="list-group-item list-group-item-action" id="{{student.id}}">
        <span>{{student.Name}}</span> 
      </a>
    </li>
  </ul>
</div>