
<div>
<h1>Register Form</h1>
<button class="btn btn-secondary" (click)="back()">Back</button>
<form>
    <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" id="reg-name" required [(ngModel)]="model.Name" name="name" #name="ngModel" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="reg-email" required [(ngModel)]="model.Email" name="email" #name="ngModel" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="reg-title" required [(ngModel)]="model.Title" name="title" #name="ngModel">
    </div><br>
    <button type="button" class="btn btn-primary" (click)="newStudent()">Add Student</button>
  </form>
</div>