@import url('https://unpkg.com/bootstrap@4.5.0/dist/css/bootstrap.min.css');

textarea{
    width: 50%;
    text-align: center;
    align-content: center;
}
button{
    margin: 20px;
}
* {
    text-align: center;
}