
<div class="studentDetails" *ngIf="detailedStudent && !edit">
  <nav>
    <ul>
      <li><button class="btn btn-primary" routerLink="/students">Students</button></li>
      <li><button class="btn btn-secondary" (click)="goBack()">Back</button></li>
    </ul>
  </nav>

  <h2>{{detailedStudent.Name | uppercase}} detail's</h2>
  <div><span>id: </span>{{detailedStudent.id}}</div>
  <div>
    <label> Student name: </label>
    {{detailedStudent.Name}}
  </div>
  <div>
    <label> Student email: </label>
      {{detailedStudent.Email}}
  </div>
  <div>
    <label> Student title: </label>
      {{detailedStudent.Title}}
  </div>
  <div *ngIf="this.studentService.User.logged">
    <button class="btn btn-primary" (click)="editShowHideBoolean()" >Edit</button>
    <button *ngIf="IsItAdmin()" class="btn btn-danger" (click)="deleteStudent()" >Delete</button>
  </div>
</div>

<div class="studentDetailsError" *ngIf="!detailedStudent && req_error_msg">
  <h2>{{req_error_msg}}</h2>
  <a routerLink="/students">Back to Home page</a>
</div>

<div class="studentDetailsEdit" *ngIf="detailedStudent && edit">
  <h2>{{detailedStudent.Name | uppercase}} detail's Edit</h2>
  <div>
    <h1>Edit Form</h1>
    <form>
        <div>
            <label for="name"><b>Name</b></label><br>
            <input type="text" id="update-name" required [(ngModel)]="detailedStudent.Name" name="name" #name="ngModel">
        </div>
        <div>
            <label for="email"><b>Email</b></label><br>
            <input type="text" id="update-email" required [(ngModel)]="detailedStudent.Email" name="email" #name="ngModel">
        </div>
        <div>
            <label for="title"><b>Title</b></label><br>
            <textarea type="text" rows="3" id="update-title" required [(ngModel)]="detailedStudent.Title" name="title" #name="ngModel"></textarea>
        </div>
        <button type="button" class="btn btn-success" (click)="updateStudent(detailedStudent)">Update</button>
        <button type="button" class="btn btn-secondary" (click)="editShowHideBoolean()" >Cancel</button>
    </form>
    </div>
</div>
