
<div class="studentDetails" *ngIf="detailedStudent && !edit">
  <nav>
    <ul>
      <li><a routerLink="/students">Students</a></li>
      <li><button (click)="goBack()">Back</button></li>
    </ul>
  </nav>

  <h2>{{detailedStudent.Name | uppercase}} detail's</h2>
  <div><span>id: </span>{{detailedStudent.id}}</div>
  <div>
    <label> Student name: </label>
    {{detailedStudent.Name}}
  </div>
  <div>
    <label> Student email: </label>
      {{detailedStudent.Email}}
  </div>
  <div>
    <label> Student title: </label>
      {{detailedStudent.Title}}
  </div>
  <button (click)="editShowHideBoolean()" >Edit</button>
  <button (click)="deleteStudent()" >Delete</button>
</div>

<div class="studentDetailsError" *ngIf="!detailedStudent && req_error_msg">
  <h2>{{req_error_msg}}</h2>
  <a routerLink="/students">Back to Home page</a>
</div>

<div class="studentDetailsEdit" *ngIf="detailedStudent && edit">
  <h2>{{detailedStudent.Name | uppercase}} detail's Edit</h2>
  <div>
    <h1>Edit Form</h1>
    <form>
        <div>
            <label for="name">Name</label>
            <input type="text" id="update-name" required [(ngModel)]="detailedStudent.Name" name="name" #name="ngModel">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="update-email" required [(ngModel)]="detailedStudent.Email" name="email" #name="ngModel">
        </div>
        <div>
            <label for="title">Title</label>
            <input type="text" id="update-title" required [(ngModel)]="detailedStudent.Title" name="title" #name="ngModel">
        </div>
        <button type="button"  (click)="updateStudent(detailedStudent)">Update</button>
        <button (click)="editShowHideBoolean()" >Show Details</button>
    </form>
    </div>
</div>
